<div  id="<%= dom_id friend %>"  class="p-5 mb-4 text-bg-dark rounded-3">
  <div class="container-fluid y-5">
    <h1 class="display-5 fw-bold"><%= "#{friend.first_name} #{friend.last_name}"%></h1>
    <p class="text-secondary fw-lighter fs-5 pb-3"><%="#{friend.email} | #{friend.phone} | #{friend.twitter}" %></p>
    <%= link_to "✏️ Edit", edit_friend_path(@friend), class: "btn btn-light me-2" %>
    <%= link_to "Back to Friends", friends_path, class: "btn btn-outline-light" %>
  </div>
</div>